/* ==UserStyle==
@name           Darklingo++ Fixes
@namespace      github.com/openstyles/stylus
@version        8.2.6
@description    A Darklingo++ addon with fixes (8.2.6.5)
@author         Noya
@updateURL      https://raw.githubusercontent.com/ZykeDev/darklingo-mirror/main/darklingo-addons.user.css
==/UserStyle== */

/* Duplicated root so that the file can work even without the main darklingo.css */
  @-moz-document domain("duolingo.com") {
  :root {
    --50: #181818;
    --75: #1c1c1c;
    --100: #202020;
    --150: #282828;
    --200: #303030;
    --250: #383838;
    --300: #404040;
    --400: #505050;

    --50-overlay-light: #1c1c1c20;
    --50-overlay-medium: #1c1c1c40;
    --50-overlay-heavy: #1c1c1c80;

    --100-overlay-medium: #20202040;

    --primary: #c0c0c0;
    --secondary: #808080;
    --tertiary: #606060;

    --red-on-bg: #471919;
    --green-on-bg: #2b3d1c;

    --learn: url(https://raw.githubusercontent.com/justinikeako/darklingo/2e3ad7e284564c3195656fb7100116373357c510/assets/slate/learn.svg);
    --stories: url(https://raw.githubusercontent.com/justinikeako/darklingo/2e3ad7e284564c3195656fb7100116373357c510/assets/slate/stories.svg);
    --discuss: url(https://raw.githubusercontent.com/justinikeako/darklingo/2e3ad7e284564c3195656fb7100116373357c510/assets/slate/discuss.svg);
    --shop: url(https://raw.githubusercontent.com/justinikeako/darklingo/6d4dde9ce1bb00b4adb08df487ffc0118b0bf8f6/assets/slate/shop.svg);
    --profile: url(https://raw.githubusercontent.com/justinikeako/darklingo/6d4dde9ce1bb00b4adb08df487ffc0118b0bf8f6/assets/slate/profile.svg);
    --bell: url(https://raw.githubusercontent.com/justinikeako/darklingo/6d4dde9ce1bb00b4adb08df487ffc0118b0bf8f6/assets/slate/bell.svg);
    --more: url(https://raw.githubusercontent.com/justinikeako/darklingo/2e3ad7e284564c3195656fb7100116373357c510/assets/slate/more.svg);

    --dictionary: url(https://raw.githubusercontent.com/justinikeako/darklingo/2e3ad7e284564c3195656fb7100116373357c510/assets/slate/dictionary.svg);
    --words: url(https://raw.githubusercontent.com/justinikeako/darklingo/2e3ad7e284564c3195656fb7100116373357c510/assets/slate/words.svg);

    --flag-sprite: url(https://raw.githubusercontent.com/justinikeako/darklingo/5e856dd8b4b95c43d14e03ca84a38767761b9c07/assets/slate/flag-sprite.svg);
    --flag-sprite-1: url(https://raw.githubusercontent.com/justinikeako/darklingo/64e62bf9536de1f5883457c1f32bff7ac4e2d07d/assets/slate/flag-sprite-1.svg);
    --crown: url(https://raw.githubusercontent.com/justinikeako/darklingo/2e3ad7e284564c3195656fb7100116373357c510/assets/slate/crown.svg);
    --streak: url(https://raw.githubusercontent.com/justinikeako/darklingo/2e3ad7e284564c3195656fb7100116373357c510/assets/slate/streak.svg);
    --streak-flame: url(https://raw.githubusercontent.com/justinikeako/darklingo/5beca38e0108a786969ba2e02a307ca45fa98a5b/assets/slate/streak-flame-empty.svg);
    --lingot: url(https://raw.githubusercontent.com/justinikeako/darklingo/2e3ad7e284564c3195656fb7100116373357c510/assets/slate/lingot.svg);
    --lingot-singular: url(https://raw.githubusercontent.com/justinikeako/darklingo/2e3ad7e284564c3195656fb7100116373357c510/assets/slate/lingot.svg);

    --crack: url(https://raw.githubusercontent.com/justinikeako/darklingo/6a1ff7a0744955932e82fe467eadf9f946bf3b0a/assets/slate/crack.svg);

    --checkpoint-castle-unlocked: url(https://raw.githubusercontent.com/justinikeako/darklingo/2e3ad7e284564c3195656fb7100116373357c510/assets/slate/checkpoint-castle-unlocked.svg);
    --checkpoint-castle-complete: url(https://raw.githubusercontent.com/justinikeako/darklingo/2e3ad7e284564c3195656fb7100116373357c510/assets/slate/checkpoint-castle-complete.svg);

    --info: url(https://raw.githubusercontent.com/justinikeako/darklingo/38655d6499226dc3ba3b42768cb4d6cc60d18708/assets/slate/info.svg);

    --score: url(https://raw.githubusercontent.com/justinikeako/darklingo/1fcaba1cb04e12f3be2246d3c64633adc69d7f12/assets/slate/score.svg);

    --mic: url(https://raw.githubusercontent.com/justinikeako/darklingo/7dcffd27362cf0e3ba56c5c2c8e525d8d40521b1/assets/slate/mic.svg);

    --word-bank: url(https://raw.githubusercontent.com/justinikeako/darklingo/2e3ad7e284564c3195656fb7100116373357c510/assets/slate/word-bank.svg);
    --keyboard: url(https://raw.githubusercontent.com/justinikeako/darklingo/2e3ad7e284564c3195656fb7100116373357c510/assets/slate/keyboard.svg);
    --type-word: url(https://raw.githubusercontent.com/justinikeako/darklingo/43fc25826cfa7bd4f908720ed04e4b5a0cc58d9e/assets/slate/type-word.svg);
    --type-sentence: url(https://raw.githubusercontent.com/justinikeako/darklingo/43fc25826cfa7bd4f908720ed04e4b5a0cc58d9e/assets/slate/type-sentence.svg);

    --down-arrow: url(https://raw.githubusercontent.com/justinikeako/darklingo/43fc25826cfa7bd4f908720ed04e4b5a0cc58d9e/assets/slate/arrow-down.svg);
    --special-char-down: url(https://raw.githubusercontent.com/justinikeako/darklingo/43fc25826cfa7bd4f908720ed04e4b5a0cc58d9e/assets/slate/special-char-down.svg);

    --comments: url(https://raw.githubusercontent.com/justinikeako/darklingo/2e3ad7e284564c3195656fb7100116373357c510/assets/slate/comments.svg);

    --search: url(https://raw.githubusercontent.com/justinikeako/darklingo/2e3ad7e284564c3195656fb7100116373357c510/assets/slate/search.svg);
    --close: url(https://raw.githubusercontent.com/justinikeako/darklingo/2e3ad7e284564c3195656fb7100116373357c510/assets/slate/close.svg);

    --stories-speaker: url(https://raw.githubusercontent.com/justinikeako/darklingo/43fc25826cfa7bd4f908720ed04e4b5a0cc58d9e/assets/slate/stories-speaker.svg);

    --podcast: url(https://raw.githubusercontent.com/justinikeako/darklingo/86eeb8a05f8b07ebb9b5dd90dc30aeb5fe95a157/assets/slate/podcast.svg);

    --icon-sprite: url(https://raw.githubusercontent.com/justinikeako/darklingo/6e4cd281143fb53bc2bcda4cb4d0ec48fc354dfb/assets/slate/icon-sprite.svg);

    --edit: url(https://raw.githubusercontent.com/justinikeako/darklingo/6d4dde9ce1bb00b4adb08df487ffc0118b0bf8f6/assets/slate/edit.svg);

    --fat-x: url(https://raw.githubusercontent.com/justinikeako/darklingo/937cade9fe995d5bcdc9441ba057b60d68411ff3/assets/slate/fat-x.svg);

    --check-bubble: url(https://raw.githubusercontent.com/justinikeako/darklingo/38655d6499226dc3ba3b42768cb4d6cc60d18708/assets/slate/check-bubble.svg);

    --incubator: url(https://raw.githubusercontent.com/justinikeako/darklingo/ab038b402ccbf290b40ba5aeb83199940bd06e13/assets/slate/incubator.svg);

    --locked-badge: brightness(0.4) contrast(2) brightness(0.4);
    --locked-lesson: brightness(0.475) contrast(1.5) brightness(0.8);
    --locked-story: brightness(0.5) contrast(1.5) brightness(0.8);

    --hover: var(--150);

    --light-translucent-800: #ffffff80;

    --dark-translucent-200: #00000020;
    --dark-translucent-400: #00000040;
    --dark-translucent-600: #00000060;

    --0-overlay: #00000040;

    --brand-gold-light: #e6b400;
    --brand-gold-dark: #e6a100;
    --brand-red: #b33434;
    --brand-orange: #d57d01;
    --brand-purple: #86639d;
    --brand-green: #69ae00;
    --brand-blue: #25789f;

    --green-primary: #aae467;
    --green-secondary: #85d926;
    --green-vivid: #78c800;

    --red-primary: #e87d7d;
    --red-secondary: #e46767;
    --red-vivid: #ff4b4b;

    --custom-color: #1F98D2;
    --custom-color-translucent-light: #1F98D220;
    --custom-color-translucent-medium: #1F98D240
  }



  /*** Personal Preferences ***/

  /* Darker Background color */
  ._2Smk1::after, ._33APU, ._3lUbm, ._2VrUB, ._3ha9t, ._2Kxv6, ._2PVaI, ._17s2H, ._2nLk_, .FrL-W, .XO-AE, .l-V52, body {
      background: var(--50);
  }

  /* Faded sides on Perfectly completed lessons */
  ._3FFs0 {
      background: linear-gradient(90deg, var(--50),hsla(0,0%,100%,0) 10%,hsla(0,0%,100%,0) 90%, var(--50));
  }

  /* Make the Forum Navlink's backgrounds transparent */
  ._26Aq_ {
      background: none;
  }



  /*** Duo Strength Fixes  ***/

  /* Fixes the color of strength bars */
  .strengthBarBackground {
      background-color: #4A4A4A;   
  }
  .strengthValue {
      padding-right: 5px;
      color: #9A9A9A;
  }

  /* Fixes the color of broken skill links */
  .topOfTreeList a,
  .XPTotalAndLevel span {
      color: #ddd !important;
  }


  /* XP Dialog Fixes */
  .crownLevelBreakdownContainer, 
  .treeLevelSentence,
  .XPBox,
  .checkpointPrediction,
  .treeLevelPrediction {
      color: #A5A5A5 !important;   
  }

  #labels {
      fill:#FFF;
  }

  /*** Duo Strength Fixes End  ***/
	
}
